[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit-webcam-example = "*"
opencv-python = "*"
numpy = "*"
tensorflow = "*"
tensorflow-hub = "*"

[dev-packages]

[requires]
python_version = "3.9"
